*.csproj
*.pidb
buildingworlds_week4/Library/
buildingworlds_week4/Temp/
*.sln
buildingworlds_week5/Library/
buildingworlds_week5/Temp/
buildingworlds_week9/Library/
buildingworlds_week10\Library/
buildingworlds_week10/Library/
buildingworlds_week12/Library/
buildingworlds_week12/Temp/
buildingworlds_week13/Library/
buildingworlds_week13/Temp/
